$breakpoint-tablet: 1024px;
$breakpoint-mobile: 650px;


.wrapper-project{
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 34px -14px rgba(0,0,0,0.75);
    padding-bottom: 20px;
    

    .image-background{
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        cursor: pointer;
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 200px;
    }

    .text-project{
        display: flex;
        gap: 10px;
        padding: 20px 0 5px 0;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        min-height: 340px;

        .title-project{
            font-size: 28px;
            color: #1d118d;
            font-family: 'Balsamiq Sans', cursive;
            font-weight: bold;
            margin-bottom: 10px;
            align-self: center;
        }

        .project-description{
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 18px;
            color: #1d118d;
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
        }
        .tech-used{
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 18px;
            text-align: center;
            color: #c72f43;
            margin-bottom: 5px;
        }
        .button-project-link{
            all: unset;
            width: 100%;
            height: 40px;
            border-radius: 300px;
            background-color: #ffbbc6;
            font-family: 'Balsamiq Sans', cursive;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            &:hover{
                cursor: pointer;
                opacity: 0.8;
                color: #f89baa;
                background-color: #1d118d;
              }
        }
        .project-link{
            width: 95%;
            align-self: center;
            text-decoration: none;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .wrapper-project{
        flex-direction: column !important;
        gap: 20px;
        flex-direction: row-reverse;
    }
}
@media (max-width: $breakpoint-mobile) {
    .wrapper-project{
        width: 90% !important;
        .text-project{
            padding: 5px !important;
        }
        .project-link{
            width: 100% !important;
            .button-project-link{
                width: 98% !important;
                margin-left: -2px;
            }
        }

    }
}



