@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper-icon{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 52px;

        .icon-skill{
            width: 80%;
            height: 80%;
        }
    }
    .name-skill{
        font-family: 'Balsamiq Sans', cursive;
        color: #1f1390;
        text-align: center;
    }
}