@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 650px;



.wrapper-navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: fixed;
    padding-bottom: 20px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 1s;
    z-index: 2;

    .container-navbar{
        width : 65%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        position: sticky;
        bottom: 0;

        .nav-item{
            display: inline-flex;
            gap: 3px;
            align-items: center;

            .icon-nav{
                width: 40px;
                height: 40px;
            }
            .title-scroll{
                color: white !important ;
            }
            .title-item{
                cursor: pointer;
                color: #153a6a;
                font-size: 26px;
                font-family: 'Balsamiq Sans', cursive;
                font-weight: bold;
            }
        }
        .button-contact{
            width: 160px;
            height: 50px;
            background-color: #1e1290;
            border-radius: 300px;
            box-shadow: none;
            border: none;
            outline: none;
            &:focus{
                border: none ; 
            }

            .contact-link{
                font-family: 'Balsamiq Sans', cursive;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
            }
        }
        .button-scroll{
            background-color: white !important;
            .contact-link{
                color: #1e1290 !important;
            }
        }

    }
}
.with-scroll{
    background-color: #1d118d !important;
}

@media (max-width: $breakpoint-tablet) {
    .container-navbar{
        width : 95% !important;
        margin: unset;
        margin-top: 30px;
        padding: 0 30px;
        justify-content: space-between;
    }
}
@media (max-width: $breakpoint-mobile) {
    .container-navbar{
        display: flex !important;
        flex-direction: column;
        width: 100vw;
        height: 40vh !important;
        align-items: center;

        .nav-item{
            width: 160px !important;
        }
    }
    .wrapper-navbar{

        position: fixed;
        top: -500px;
        transition: 1s;
    }
    .with-menu {
        position: fixed;
        top: 0;
    }
}